PORT=9100
MRMS_DB_URI=mongodb+srv://<username>:<password>@mrms.e6jloco.mongodb.net/?appName=MRMS
ADAPTER_BASE_URL=
ADAPTER_USE_MOCK=true
AUTH_BASE_URL=https://has-auth.onrender.com/api
AUTH_USE_MOCK=false